.customTooltip {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 12px;
  text-align: left;
}

.label {
  font-weight: bold;
  margin: 0;
}

.divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 8px 0;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 5px;
}

.tooltipItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.tooltipColor {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 8px;
}

.tooltipItemLabel {
  flex-grow: 1;
}

.tooltipItemValue {
  font-weight: bold;
  margin-left: 10px;
}

.trophy {
  font-size: 10px;
}
